* {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: rgb(0, 140, 255);
    color: white;
    height: 45px;
    width: 100px;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
}

button:hover {
background-color: rgb(1, 98, 177);
}